:root {
  --color-desktop-bg: #468BAD;
  --color-desktop-tab: #23DACE;
  --color-blue-dark: #233BDA;
  --color-white: #ffffff;
  --color-grey: #DCDCDC;
  --color-grey-light: #e5e5e5;
  --color-grey-charcoal: #495057;
  --color-pink-dark: #CD39CD;
  --color-pink-light: #D760D7;
  --tab-border: 0.1rem solid var(--color-grey-light);
  --tab-box-shadow: .2rem .2rem 0rem rgba(#495057, .8); }

@keyframes logo-slide {
  0% {
    transform: translate(1.8rem, 0rem); }
  20% {
    transform: translate(22rem, 0rem); }
  30% {
    transform: translate(17rem, -0.5rem); }
  40% {
    transform: translate(14rem, 0.5rem); }
  50% {
    transform: translate(11rem, -0.5rem); }
  60% {
    transform: translate(8rem, 0.5rem); }
  70% {
    transform: translate(5rem, -0.5rem); }
  80% {
    transform: translate(3rem, 0.5rem); }
  90% {
    transform: translate(1rem, -0.5rem); }
  100% {
    transform: translate(1.8rem, 0.5rem); } }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: var(--color-desktop-bg);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1rem;
  cursor: url("/images/cursor.png"), auto; }

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.header {
  display: flex;
  width: 100%;
  height: 3.5rem; }

.navigation {
  margin-right: auto; }
  .navigation__list {
    list-style: none;
    display: flex; }
    .navigation__list-item:not(:last-child) {
      margin-right: 0.6rem; }
  .navigation__dropdown-btn {
    height: 3.3rem;
    width: 15rem;
    font-family: inherit;
    font-size: 1.7rem;
    letter-spacing: inherit;
    background-color: var(--color-desktop-tab);
    border: black 0.1rem solid;
    box-shadow: 0.2rem 0.2rem 0rem rgba(73, 80, 87, 0.8); }
    .navigation__dropdown-btn:focus {
      outline: none; }
    .navigation__dropdown-btn:hover {
      cursor: url("/images/cursor_pointer.png"), auto; }

.header {
  border: solid 0.1rem black;
  background-color: var(--color-grey); }
  .header__logo {
    background: var(--color-pink-light);
    width: 25rem;
    height: 100%;
    border: var(--tab-border);
    box-shadow: 0.2rem 0.2rem 0rem rgba(73, 80, 87, 0.8);
    margin-right: 0.6rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: .2s all;
    display: flex;
    align-items: center; }
    .header__logo:hover {
      background: var(--color-blue-dark);
      box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.8); }
    .header__logo:hover .header__logo-box {
      animation: logo-slide 2s linear; }
    .header__logo:hover .header__logo-box::before {
      opacity: 1; }
    .header__logo-box {
      display: flex;
      align-items: center;
      transform: translateX(1.8rem);
      z-index: 2;
      position: relative; }
      .header__logo-box::before {
        content: "";
        position: absolute;
        left: 0;
        height: 120%;
        width: 20.7rem;
        background: var(--color-blue-dark);
        opacity: 0;
        transform: translateX(-20.7rem);
        z-index: 0; }
    .header__logo-image {
      width: 2.3rem;
      height: 2.3rem; }
    .header__logo-name {
      text-transform: uppercase;
      font-size: 2rem;
      color: var(--color-white);
      margin-left: 2.4rem; }
