:root {
  --color-desktop-bg: #468BAD;
  --color-desktop-tab: #23DACE;
  --color-logo-bg: #FFFD82;
  --color-blue-dark: #233BDA;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey: #DCDCDC;
  --color-grey-light: #e5e5e5;
  --color-grey-dropdown: #C0C0C0;
  --color-grey-charcoal: #495057;
  --color-pink-dark: #CD39CD;
  --color-pink-light: #D760D7;
  --border-bottom-header: var(--color-black) var(--border-bottom-size) solid;
  --border-bottom-size: 2.5px;
  --height-header: 3.4rem;
  --font-size-big: 1.9rem;
  --font-size-medium: 1.7rem;
  --font-size-small: 1.3rem;
  --padding-small: 0.8rem;
  --cursor-point: url("/images/cursor_pointer.png"), auto; }

@keyframes logo-slide {
  0% {
    transform: translate(1.8rem, 0rem); }
  20% {
    transform: translate(22rem, 0rem); }
  30% {
    transform: translate(17rem, -0.5rem); }
  40% {
    transform: translate(14rem, 0.5rem); }
  50% {
    transform: translate(11rem, -0.5rem); }
  60% {
    transform: translate(8rem, 0.5rem); }
  70% {
    transform: translate(5rem, -0.5rem); }
  80% {
    transform: translate(3rem, 0.5rem); }
  90% {
    transform: translate(1rem, -0.5rem); }
  100% {
    transform: translate(1.8rem, 0.5rem); } }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("/images/cursor.png"), auto; }

*:link {
  cursor: url("/images/cursor_pointer.png"), auto; }

html {
  font-size: 62.5%; }

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none; }

.body-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-desktop-bg);
  font-family: 'Roboto', sans-serif;
  position: relative; }

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.font--small {
  font-size: 1.3rem; }

.font--medium {
  font-size: 1.7rem; }

.font--large {
  font-size: 1.9rem; }

.header {
  position: fixed;
  background-color: var(--color-grey);
  left: 0;
  right: 0;
  display: flex;
  height: var(--height-header);
  border-bottom: var(--border-bottom-header);
  z-index: 2; }
  .header__logo {
    background-color: var(--color-logo-bg);
    flex: 0 0 25rem;
    box-shadow: inset 0.2rem 0.2rem 0.1rem var(--color-grey-charcoal), inset -0.1rem 0 0 0 var(--color-grey-charcoal);
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: .2s all;
    display: flex;
    align-items: center; }
    .header__logo:hover {
      background: var(--color-desktop-tab);
      box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.8); }
    .header__logo:hover .header__logo-box {
      animation: logo-slide 2s linear; }
    .header__logo:hover .header__logo-box::before {
      opacity: 1; }
    .header__logo-box {
      display: flex;
      align-items: center;
      transform: translateX(1.8rem);
      z-index: 2;
      position: relative; }
      .header__logo-box::before {
        content: "";
        position: absolute;
        left: 0;
        height: 120%;
        width: 20.7rem;
        background: var(--color-desktop-tab);
        opacity: 0;
        transform: translateX(-20.7rem);
        z-index: 0; }
    .header__logo-image {
      width: 2.3rem;
      height: 2.3rem; }
    .header__logo-name {
      text-transform: uppercase;
      font-size: var(--font-size-big);
      font-weight: 400;
      color: black;
      margin-left: 2.4rem;
      letter-spacing: 0.5px; }

.email {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400; }

.time {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin: 0 4rem;
  font-size: var(--font-size-medium);
  background-color: var(--color-desktop-tab);
  height: var(--height-header);
  padding: var(--padding-small);
  box-shadow: inset 0.2rem 0.2rem 0.1rem var(--color-grey-charcoal), inset -0.1rem 0 0 0 var(--color-grey-charcoal);
  height: calc(var(--height-header) - var(--border-bottom-size)); }

.navigation {
  height: 100%; }
  .navigation__list {
    list-style: none;
    display: flex; }
    .navigation__list-item {
      margin-left: 0.3rem;
      position: relative; }
  .navigation__dropdown-btn:hover + .navigation__dropdown-hidden {
    display: block; }
  .navigation__dropdown-btn {
    height: calc(var(--height-header) - var(--border-bottom-size));
    width: 15rem;
    font-family: inherit;
    font-size: var(--font-size-medium);
    letter-spacing: inherit;
    background-color: var(--color-desktop-tab);
    box-shadow: inset 0.2rem 0.2rem 0.1rem var(--color-grey-charcoal), inset -0.1rem 0 0 0 var(--color-grey-charcoal); }
    .navigation__dropdown-btn, .navigation__dropdown-btn:link, .navigation__dropdown-btn:visited {
      border: none; }
    .navigation__dropdown-btn:hover {
      cursor: url("/images/cursor_pointer.png"), auto; }
    .navigation__dropdown-btn:focus {
      border: none;
      outline: none; }
  .navigation__dropdown-hidden {
    list-style: none;
    border: 0.1rem solid var(--color-black);
    background-color: var(--color-grey-dropdown);
    position: absolute;
    top: 3rem;
    left: 0;
    width: 17rem;
    display: none; }
    .navigation__dropdown-hidden:hover {
      display: block; }
    .navigation__dropdown-hidden > *:hover {
      background-color: #000; }
    .navigation__dropdown-hidden > *:hover .navigation__dropdown-link {
      color: #fff; }
  .navigation__dropdown-link {
    text-decoration: none;
    color: black;
    font-size: var(--font-size-small);
    display: block;
    padding: var(--padding-small); }

.desktop {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .desktop__left .files {
    display: grid;
    height: 100vh;
    row-gap: 4.5rem;
    grid-template-columns: minmax(2rem, 5rem) min-content 8rem min-content minmax(2rem, 1fr);
    grid-template-rows: minmax(3rem, 5rem) repeat(5, 1fr); }
  .desktop__right {
    background-image: url(/images/desktop-illustration.svg);
    background-repeat: no-repeat;
    background-position: 50% calc(50% + var(--height-header) - 8%);
    background-origin: border-box;
    background-size: 40vmax; }

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: var(--cursor-point);
  transition: .2s transform; }
  .file:link {
    font-size: inherit;
    color: inherit;
    text-decoration: none; }
  .file:hover {
    transform: scale(1.1); }
  .file-icon {
    width: 9rem;
    height: 9rem;
    background-size: cover;
    margin-bottom: .8rem;
    cursor: inherit; }
  .file-label {
    font-size: 1.4rem;
    margin: 0 auto;
    cursor: inherit; }

.main-pane {
  width: 70rem;
  height: 44.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/images/pane.svg);
  background-size: 100%;
  background-repeat: no-repeat; }

.inner-pane {
  position: relative;
  width: 98%;
  height: 97%;
  border: solid black;
  background-color: var(--color-desktop-bg); }
  .inner-pane__header {
    width: 100%;
    height: 4rem;
    border-bottom: solid black;
    background-color: var(--color-desktop-tab);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
