@mixin block-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Url names of extensions SHOULD be same
@mixin webp-optimizer($urlWithoutExtension, $element) {
    .nowebp #{$element}{
        background-image: url($urlWithoutExtension+".png");
    }
    
    .webp #{$element} {
        background-image: url($urlWithoutExtension+".webp");
    }
    
    .no-js #{$element} {
        background-image: url($urlWithoutExtension+".png");
    }
}


//MEDIA QUERIES
/*
0 - 400px:      Phone small
400 - 500px: Phone medium
500 - 600px: Phone large
600 - 900px:    Tablet portrait 
900 - 1200px:   Tablet landscape
[1200 - 1800px] normal styles
1650px +    :   Normal desktop
1800px +    :   Big desktop
*/

/*
$breakpoint
- phone-s
- phone-m
- phone-l
- tab-port
- tab-land
- normal-desktop
- big-desktop

1em = 16px
*/

/*
and (orientation: portrait)

*/

@mixin respond($breakpoint) {
    //width
    @if $breakpoint == phone-s {//420px
        @media only screen and (max-width: 38.5em) {@content}; //420px
        @media only screen and (max-width: 38.5em) and (orientation: portrait) {@content};
        @media only screen and (max-width: 64em) and (max-height: 38.5em) and (orientation: landscape) {@content};
    }

    @if $breakpoint == phone-l {
        @media only screen and (max-width: 45.5em) {@content}; //720px
        @media only screen and (max-width: 45.5em) and (orientation: portrait) {@content};
        @media only screen and (max-width: 80.5em) and (max-height: 45.5em) and (orientation: landscape) {@content};
    }

    @if $breakpoint == tab-port-s {
        @media only screen and (max-width: 52.20em) {@content}; //834
        @media only screen and (max-width: 52.20em) and (orientation: portrait) {@content};
        @media only screen and (max-width: 80.5em) and (max-height: 52.20em) and (orientation: landscape) {@content};
    }

    @if $breakpoint == tab-port-l {
        @media only screen and (max-width: 60.2em) {@content}; //962
        @media only screen and (max-width: 60.2em) and (orientation: portrait) {@content};
        @media only screen and (max-width: 80.5em) and (max-height: 60.2em) and (orientation: landscape) {@content};
    }

    @if $breakpoint == tab-land-m {
         @media only screen and (max-width: 64em) {@content}; //1024px
     }

    @if $breakpoint == tab-land-xl {
        @media only screen and (max-width: 80.5em) {@content}; //1280px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) and (min-height: 67em) {@content}; //1800 x 1080px 
    }
    
}