:root {
    --color-desktop-bg: #468BAD;

    --color-white: #ffffff;
    --color-grey: #DCDCDC;
    --color-grey-light: #e5e5e5;
    --color-pink-dark: #CD39CD;
    --color-pink-light: #D760D7;

    --tab-border: 0.1rem solid var(--color-grey-light);
    --tab-box-shadow: .2rem .2rem 0rem rgba(#000, .8);
}

