:root {
    --color-desktop-bg: #468BAD;
    --color-desktop-tab: #23DACE;

    --color-yellow: #FBEE0A;

    --color-blue-dark: #233BDA;

    --color-white: #ffffff;
    --color-black: #000;

    --color-grey: #DCDCDC;
    --color-grey-light: #e5e5e5;
    --color-grey-dropdown: #C0C0C0;
    --color-grey-charcoal: #495057;

    --color-pink-dark: #CD39CD;
    --color-pink-light: #D760D7;

    --border-bottom-header: var(--color-black) var(--border-bottom-size) solid;
    --border-bottom-size: 2.5px;

    --height-header: 3.4rem;

    --text-spacing: 0.2px;
    --text-line-height: 1.5;

    --font-size-xl: 2.1rem;
    --font-size-big: 1.9rem;
    --font-size-medium: 1.7rem;
    --font-size-small: 1.3rem;

    --font-family: 'Roboto', sans-serif;
    --font-family--pixel: "VT323", monospace;

    --padding-small: 0.8rem;

    --cursor-point: url("../images/cursor_pointer.png"), auto;
    --cursor-drag: url("../images/cursor_drag.png"), auto;


}

