.about-me {
  width: 70rem;
  height: 44.6rem;
  //top: 6.8rem;
  //left: -24.1rem;

  &.clicked {
    opacity: 1;
    left: 45rem;
    top: 14rem;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }

  &__main-frame {
    position: absolute;
    width: 100%;
    height: 90.5%;
    background-image: url(../images/about-me--icon.svg);
    background-repeat: no-repeat;
    background-size: 25rem;
    background-position: 2rem 2rem;
    overflow: hidden;
  }

  &__content {
    position: absolute;
    width: 33rem;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 2.9rem;
    padding: 3rem 1rem 0 0;
    letter-spacing: 0.2px;
    line-height: 1.5;

&::-webkit-scrollbar-thumb {
   background: var(--color-yellow);
 }
//scrollbar

//     /* width */
// &::-webkit-scrollbar {
//   width: 2rem;
// }

// /* Track */
// &::-webkit-scrollbar-track {
//   background: transparent;
// }

// /* Handle */
// 

// /* Handle on hover */
// &::-webkit-scrollbar-thumb:hover {
//   background: #CD39CD;
// }


    & p:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    &-header {
      //color: yellow;
      //text-shadow: 4px 4px #CD39CD;
      margin-bottom: 1.5rem; 

      & span {
        background: linear-gradient(180deg, transparent 50%, yellow 50%);
      }

  }
}
}
