.about-me {
  width: 70rem;
  height: 44.6rem;

  &.clicked {
    opacity: 1;
    left: 45rem;
    top: 14rem;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }

  &__main-frame {
    position: absolute;
    width: 100%;
    height: 90.5%;
    //background-image: url(../images/about-me--icon.png);
    background-repeat: no-repeat;
    background-size: 25rem;
    background-position: 2rem 2rem;
    overflow: hidden;
  }

  &__content {
    position: absolute;
    width: 33rem;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 2.9rem;
    padding: 3rem 1rem 0 0;
    line-height: var(--text-line-height);

    & a {
      color: var(--color-yellow);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-yellow);
    }

    & p:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    &-header {
      margin-bottom: 1.5rem;
    }
  }
}

@include webp-optimizer("../images/about-me--icon", ".about-me__main-frame");