.desktop {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond(phone-s) { //1 rem = 8.5; 8.5 / 16;
    display: none;
  }

  &__left {
    .files {
      display: grid;
      height: 100vh;
      row-gap: 6vh;
      grid-row-gap: 6vh;
       grid-template-columns: minmax(2rem, 5rem) min-content 8rem min-content minmax(
           2rem,
           1fr
         );
      grid-template-rows: minmax(3rem, 5rem) repeat(5, .5fr);

      @supports not(grid-template-columns: minmax(2rem, 5rem) min-content 8rem min-content minmax(
        2rem,
        1fr
      )) {
        grid-template-columns: minmax(2rem, 5rem) -webkit-min-content 8rem -webkit-min-content minmax(
           2rem,
           1fr
         );
      }

      @include respond(big-desktop) { 
        row-gap: 6.4rem;
        grid-row-gap: 6.4rem;
      }
    }
  }

  &__right { 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &-bg {
    width: 40vw;
    height: 70vh;
    background-image: url("../images/desktop-illustration.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    }

    @include respond(tab-land-m) {
      display: none;    
    }
    }
 
  }

