.file {
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: var(--cursor-point); 
        transition: .3s all;

        &:hover &-icon:before {
            opacity: 1;
        }

        &:hover &-icon:after {
            opacity: 1;
        }

        &:hover &-label {
            color: var(--color-yellow);
            
        }

   
        &:link,
        &:visited {
            font-size: inherit;
            color: inherit;
            text-decoration: none;
        }

        &:active &-icon {
            //filter: grayscale(80%);
            filter: drop-shadow(16px 16px 20px red) invert(75%);
        }
        
        
    
    &-icon {
        position: relative;
        display: block;
        z-index: 2;
        margin-bottom: .8rem;
        cursor: inherit;
        transition: .1s all;

        & img {
            position: relative;
            z-index: -1;
            width: 9rem;
            height: 9rem;

            @include respond(big-desktop) { //1 rem = 12; 12/16
                width: 10rem;
                height: 10rem;
              }
        }

        
        &::after {
            content: "";
            position: absolute;
            width: 3rem;
            height: 5rem;
            left: -3rem;
            background-image: url("../images/spark--left.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-size: 3rem;
            transition: .3s all;
            opacity: 0;
        }

        &::before {
            content: "";
            position: absolute;
            width: 3rem;
            height: 5rem;
            right: -3rem;
            background-image: url("../images/spark--right.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-size: 3rem;
            transition: .3s all;
            opacity: 0;
        }
        
       
    }

    &-label {
        font-size: var(--font-size-small);
        margin: 0 auto;
        cursor: inherit;
        transition: .3s all;

        @include respond(tab-port-s) { 
            font-size: 1.5rem;
          }

        @include respond(big-desktop) { //1 rem = 12; 12/16
            font-size: var(--font-size-medium);
          }
    }
        
}