.file {
    display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    
    &-icon {
        width: 9rem;
        height: 9rem;
        background-size: cover;
        margin-bottom: .8rem;
    }

    &-label {
        font-size: 1.4rem;
        margin: 0 auto;
    }
}