#mobile {
  display: none;

  @include respond(phone-s) {
    display: block;
  }
}

.mobile {
  width: 100%;
  height: 100%;

  &__main {
    height: 100%;
  }

  &__pane {
    display: none;
    position: fixed;
    top: 4rem;
    bottom: 13.5rem;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--color-desktop-bg);
  }

  &-close-btn {
    position: fixed;
    top: 6.7rem;
    right: 2rem;
  }

  &__content {
    width: 80%;
    padding-top: 5vh;
    padding-left: 4vw;
    //margin: 3rem;
  }

  &__about-me {

    &-logo {
      width: 18vh;
      height: 18vh;
    }
  }

  &__resume {
    background-color: var(--color-yellow);
    //overflow-x: scroll;

    &-zoom {
      background-color: transparent;
      margin-left: 3vw;
      border: none;
    }

    &-content {
      &-header {
        display: flex;
        align-items: center;
      }

      & img {
        width: 90vw;
        height: auto;
        margin-top: 3vh;
        border-right: 1.2px solid black;
      }
    }
  }

  &__works {
    background-color: var(--color-desktop-tab);

    &-project-container {
      margin-bottom: 10vh;

      & > *:not(:last-child) {
        margin-bottom: 3.5vh;
      }

      & h2 {
        display: inline-block;
      }
    }
  }

  & .bottom-nav {
    //background-color: palegreen;
    height: 13.5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & button,
    a {
      background-color: transparent;
      font-size: var(--font-size-mobile-nav);

      & img {
        width: 6.9rem;
        height: 6.9rem;
      }
    }

    & button {
      border: none;
      outline: none;
      font-family: inherit;

      &:link,
      &:visited,
      &:active {
        outline: none;
      }
    }

    & a {
      text-decoration: none;
      color: inherit;
      text-align: center;

      & p {
        text-align: center;
        font-size: inherit;
      }
    }
  }
}

.mob-icon {
  width: 6vw;
  height: 6vw;

  &-zoom-in {
    content: url("../images/mobile/icon--zoom-in@2x.png");
  }

  &-zoom-out {
    content: url("/images/mobile/icon--zoom-out@2x.png");
  }
}
