.my-works {
  width: 96.5rem;
  height: 61.4rem;
  top: -36%;
  left: -16%;

  @include respond(tab-port-s) { 
    width: 86.5rem;
    height: 55rem;
  } 

    &.clicked {
        left: 10vw;
        top: 10vh;

        @include respond(tab-port-s) { 
          left: 2rem;
          top: 18rem;
        } 
      }
    
      &__main-frame {
          height: 93.4%;
      }

      &__content {
          height: 100%;
          padding: 3rem 5rem 3rem 4rem;
          display: flex;
          flex-direction: column;
          line-height: var(--text-line-height);

          @include respond(tab-port-s) { 
            padding: 1rem 5rem 3rem 3rem;
          } 

          &-top {
            flex-basis: 85%;
            display: flex;
            justify-content: space-between;
          }

          &-bottom {
            flex-basis: 15%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            & > *:not(:last-child) {
              margin-right: 2rem;
            }

          }
      }

      &__computer {
        position: relative;
        flex-basis: 50%;

        &:before {
            content: "";
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
            position: absolute;
            background-image: url("../images/computer.png");
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 auto;

            @include respond(tab-port-s) { 
            height: 94.4%;
            width: 100%;
            top: 1.4rem;
            }           
        }


        & video {
          position: absolute;
          top: 6.1rem;
          left: -1.9rem;

          @include respond(tab-port-s) { 
            top: 6.6rem;
            }  
        }
      }

      &__project-info {
        flex-basis: 50%;
        margin-left: 1.5rem;
      }
}

@include webp-optimizer("../images/computer", ".my-works__computer:before");

.project {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2.6rem;
  line-height: var(--text-line-height);

  & > *:not(:last-child) {
    margin-bottom: 3rem;

    @include respond(tab-port-s) { 
      margin-bottom: 2.3rem;
      } 

    
  }

  &-title {
    
    & h2 {
      text-transform: capitalize;
      display: inline-block;
    }
  }

  &-stack {
    max-width: 21.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(phone-s) {
      max-width: 100%;
      justify-content: unset;
    }

    & > * {
      text-align: center;
      min-width: 10rem;
      padding: .5rem;
      border: solid 1px black;
      border-radius: 2.4rem;
      background-color: #DCDCDC;
      margin-top: 1rem;

      @include respond(phone-s) {
        margin-right: 2vw;
      }
    }
  }

  &-link {
    
    & a {
      color: black;

      &:first-child {
        margin-right: 2rem;

      &:hover {
        color: var(--color-yellow);
      }
    }

  }

  
}
}

