.navigation {
    height: 100%;
    

    &__list {
        list-style: none;
        display: flex;

        &-item {
            margin-left: 0.3rem;
            position: relative;
        }
    }


    &__dropdown-btn:hover + &__dropdown-hidden {
        display: block;
    }




    &__dropdown-btn {
        height: var(--height-header);
        width: 15rem;
        font-family: inherit;
        font-size: var(--font-size-medium);
        letter-spacing: inherit;
        background-color: var(--color-desktop-tab);
        border: var(--border-standart);       
        box-shadow: inset .1rem .1rem var(--color-grey-charcoal);
        position: relative;
        z-index: 1;
        
        
        &:focus {
            outline: none;
        }

        &:hover {
            cursor: url("/images/cursor_pointer.png"), auto;
        }

    }


    &__dropdown-hidden {
        list-style: none;
        border: var(--border-standart);
        background-color: var(--color-grey-dropdown);
        position: absolute;
        top: 3rem;
        left:0;
        width: 17rem;
        display: none;
        z-index: 3;

        &:hover {
            display: block;
        }

        & > * {
            
            &:hover {
                background-color: #000;
            }

            &:hover .navigation__dropdown-link {
                color: #fff;
            }

        }

        
    }

    &__dropdown-link {
        text-decoration: none;
        color: black;
        font-size: var(--font-size-small);
        display: block;
        padding: var(--padding-small);
        
    }


}