.navigation {
    height: 100%;
    
    &__list {
        list-style: none;
        display: flex;

        &-item {
            margin-left: 0.3rem;
            position: relative;
        }
    }


    &__dropdown-btn:hover + &__dropdown-hidden {
        display: block;
    }


    &__dropdown-btn {
        height: calc(#{'var(--height-header) - var(--border-bottom-size)'});
        width: 15rem;
        font-family: inherit;
        font-size: var(--font-size-medium);
        letter-spacing: inherit;
        background-color: var(--color-desktop-tab);    
        box-shadow: inset .2rem .2rem .1rem var(--color-grey-charcoal),
                    inset -.1rem 0 0 0 var(--color-grey-charcoal);
        //border-right: .1rem black solid;
        //position: relative;

        &,
        &:link,
        &:visited
        {
        border: none;
        //border-right: .1rem black solid;
        }

        &:hover {
        cursor: url("/images/cursor_pointer.png"), auto;
        }


        &:focus {
        border: none;
        outline: none;
        //border-right: .1rem black solid;
        }
       }


    &__dropdown-hidden {
        list-style: none;
        border: .1rem solid var(--color-black);
        background-color: var(--color-grey-dropdown);
        position: absolute;
        top: 3rem;
        left:0;
        width: 17rem;
        display: none;
        //z-index: 99;

        &:hover {
            display: block;
        }

        & > * {
            
            &:hover {
                background-color: #000;
            }

            &:hover .navigation__dropdown-link {
                color: #fff;
            }

        }
        
    }

    &__dropdown-link {
        text-decoration: none;
        color: black;
        font-size: var(--font-size-small);
        display: block;
        padding: var(--padding-small);
        
    }


}