.pane {
  top: 2rem;
  left: 2rem;
  z-index: 2;
  position: absolute;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px) scale(0.0, 0.0);
  transform: translate3d(0px, 0px, 0px) scale(0.0, 0.0);
  opacity: 0;
  transition: all .1s linear;
}

.draggable {
  touch-action: none;
  user-select: none;
}
