.resume {
  width: 93rem;
  height: 59.2rem;

  @include respond(tab-port-s) { 
    width: 87rem;
    height: 55.3rem;
  } 

  &.clicked {
    left: 15rem;
    top: 5rem;
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);

    @include respond(tab-port-s) { 
      left: 1rem;
      top: 15rem;
    } 
  }

  &__main-frame {
    height: 100%;
    background-color: var(--color-yellow);
    padding: 0 5.3rem;

    &-header {
      height: 8rem;
      //padding-left: 5.3rem;
      display: flex;
      align-items: center;
    }

    &-content {
      height: 75.5%;
      overflow-y: scroll;
      overflow-x: hidden;
      scrollbar-color: #cd39cd transparent;

      &::-webkit-scrollbar-thumb {
        background: #cd39cd;
      }
    }
  }

  &__image {
    width: 75.9rem;
    height: auto;
    display: block;
    border-right: 2px black solid;

    @include respond(tab-port-s) { 
      width: 71.5rem;
    }     
  }
}
