//inspired by https://codepen.io/Errec/pen/ZprVwZ

.weather {
  width: 85rem;
  height: 54.08rem;
  top: 50%;
  left: 50%;

  &__main-frame {
    width: 100%;
    height: 92.2%;
    position: relative;
  }

  &__background {
    width: 100%;
    height: 100%;
    background: url("../images/weather/weather-background.png") repeat-x;
    background-size: auto 500px;
    background-position: center;
    //animation: animatedBackground 80s linear infinite;
    z-index: 100;
  }

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__card {
    position: relative;
    width: 27rem;
    height: 33rem;
    outline: 0.4rem solid black;

    &.bg-day {
      background: url("../images/weather/weather-card--day.png");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.bg-night {
      background: url("../images/weather/weather-card--night.png");
      background-size: cover;
      background-repeat: no-repeat;
    }

    & > * {
      position: absolute;
    }

    &-character {
      background-image: url("../images/weather/character.png");
      background-size: cover;
      width: 5rem;
      height: 6.5rem;
      right: 4.6rem;
      bottom: 5.4rem;
      transform: translateY(0px);
      transition: 1s all;

      &.jump {
        transform: translateY(-30.8px);
        //animation: jump .5s linear infinite;
      }
    }

    &-box {
      background-image: url("../images/weather/celcius.png");
      background-size: cover;
      width: 3.7rem;
      height: 3.7rem;
      right: 5.2rem;
      bottom: 14.9rem;
      cursor: var(--cursor-point);
    }

    &-search-result {
      //background-color: orangered;
      max-height: 15rem;
      max-width: 14.5rem;
      margin: 1.5rem 0 0 1.5rem;
      font-family: var(--font-family--pixel);
      text-transform: capitalize;

      &.white {
        color: white;
      }

      &.black {
        color: black;
      }

      & .city {
        font-size: 3rem;
      }

      & .temperature {
        font-size: 5rem;
      }
    }
  }

  &__form {
    //background-color: purple;
    width: 30rem;
    height: 25rem;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & label,
    & button,
    & .error {
      text-transform: uppercase;
      font-family: var(--font-family--pixel);
      cursor: var(--cursor-point);
    }

    & .error {
      position: absolute;
      top: 63%;
      font-size: 2.5rem;
      font-weight: 400;
      color: red;
    }

    & label {
      color: var(--color-yellow);
      font-size: 4rem;
    }

    & input {
      padding: 1.5rem;
      align-self: stretch;
      border: 2px solid #c0c0c0;
      border-radius: 1rem;
      text-align: center;
      font-family: var(--font-family);
      background-color: rgba(255, 255, 255, 0.5);
      caret-color: var(--color-yellow);
      text-transform: capitalize;

      &,
      &::placeholder {
        font-size: 1.8rem;
      }

      &:focus {
        outline-color: yellow;
      }

      &::placeholder {
        text-align: center;
      }

      &.redBorder {
        border: 2px red solid;
        //background-color: red;
      }
    }

    & button {
      position: relative;
      z-index: 99;
      padding: 1.2rem 3rem;
      border-radius: 5rem;
      font-size: 2rem;
      background-color: var(--color-yellow);
      transition: 0.2s all;
      border: 1px solid black;

      &,
      &:active,
      &:visited {
        outline: none;
        //cursor: var(--cursor-point);
      }

      &:hover {
        transform: scale(1.1);
        //cursor: var(--cursor-point);
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}

.suggested-places-container {
  position: absolute;
  top: 65%;
  width: 100%;

  & ul {
    list-style: none;
  }

  & li {
    position: relative;
    z-index: 200;
    padding: 0.8rem;
    margin-bottom: .5rem;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: var(--cursor-point);
    text-transform: capitalize;

    &:focus {
      outline: .5rem var(--color-desktop-tab) solid;
    }

    &:nth-child(odd) {
      transform: skewX(20deg);
      background-color: var(--color-yellow);

      & span {
        transform: skewX(-20deg);
      }
    }

    &:nth-child(even) {
      transform: skewX(-20deg);

      & span {
        transform: skewX(20deg);
      }
    }

    & span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      max-width: 100ch;
    }
  }
}
