.weather {
  width: 85rem;
  height: 54.08rem;
  //top: 1.5rem;
  //left: -14.1rem;

  &.clicked {
    opacity: 1;
    left: 18vw;
    top: 10vh;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);

    @include respond(tab-port-s) {
      //1 rem = 8.5; 8.5 / 16;
      left: 3rem;
    }
  }

  &__main-frame {
    width: 100%;
    height: 92.2%;
    position: relative;
  }

  &__background {
    width: 100%;
    height: 100%;
    background: url("../images/weather/weather-background.png") repeat-x;
    //background-size: auto 500px;
    background-size: cover;
    background-position: center;
    //animation: animatedBackground 80s linear infinite;
    z-index: 100;
  }

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    /*SAFARI 10.1*/
    justify-content: space-between;

    &:before,
    &:after {
    content: '';
    display: block;
    }
  }

  &__card {
    position: relative;
    width: 27rem;
    height: 33rem;
    outline: 0.4rem solid #06064d;

    &.bg-day {
      background: url("../images/weather/weather-card--day.png");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.bg-night {
      background: url("../images/weather/weather-card--night.png");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.animate-thunder {
      animation: lightning 5s infinite 1s ease-out;
    }

    & > * {
      position: absolute;
    }

    &-character {
      background-image: url(../images/weather/character.png);
      background-size: contain;
      width: 7.8rem;
      height: 8.3rem;
      background-repeat: no-repeat;
      right: 0.6rem;
      bottom: 4rem;
      transform: translateY(0px);
      transition: 0.1s all;

      &.jump {
        transform: translateY(-2.8rem);
      }
    }

    &-sky {
      //background-color: orangered;
      position: absolute;
      width: 10.9rem;
      height: 10.9rem;
      right: 1rem;
      top: 0.4rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .sun {
        position: absolute;
        width: 7.3rem;
        height: 7.3rem;
        top: 0.4rem;
        right: 0.9rem;
        animation: shine 2s infinite alternate;
      }

      & .moon {
        height: 4.5rem;
      }

      & .star {
        position: absolute;
        animation: shine 1s infinite alternate ease-in-out;

        &--one {
          left: -0.2rem;
          top: 2.9rem;
          height: 2rem;
        }

        &--two {
          left: 1.9rem;
          top: 0.4rem;
          height: 2.6rem;
        }
      }

      & .fog {
        position: relative;
        width: 28.1rem;
        height: 10rem;

        &-up {
          transform: translate(-7.2rem, 3.6rem);
        }

        &-down {
          transform: translate(-7.3rem, 11rem);
          z-index: 1;
        }
      }

      & .thunder {
        position: absolute;
        top: 6.1rem;
        height: 4rem;
        animation: strike 5s infinite 1s ease-out;
      }

      & .cloud {
        position: absolute;
        top: 1.7rem;
        height: 4.5rem;
        z-index: 2;
      }

      & .sun-behind-cloud,
      & .moon-behind-cloud {
        position: absolute;
        height: 5.1rem;
        left: 0.2rem;
        top: 0.2rem;
        z-index: 1;
      }

      & .dark-cloud {
        position: absolute;
        height: 4rem;
        left: -0.5rem;
        top: 1.5rem;
        z-index: 1;
      }

      & .sun-behind-cloud {
        animation: shine 1s infinite alternate ease-in-out;
      }

      & .flakes {
        .flake {
          height: 3rem;

          &:not(:last-child) {
            margin-right: 1rem;
          }

          &:nth-child(1) {
            transform: translateY(1.4rem);
            animation: firstDrop 3s infinite ease-out;
          }

          &:nth-child(2) {
            transform: translateY(0);
            animation: secondDrop 2s infinite ease-out;
          }

          &:nth-child(3) {
            transform: translateY(2.5rem);
            animation: firstDrop 4s infinite ease-out;
          }
        }
      }

      & .drops {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & .drop {
          height: 3rem;
          &:not(:last-child) {
            margin-right: -2.2rem;
          }

          &:nth-child(1) {
            transform: translateY(1.4rem);
            animation: firstDrop 1.5s infinite ease-out;
          }

          &:nth-child(2) {
            transform: translateY(0);
            animation: secondDrop 1s infinite ease-out;
          }

          &:nth-child(3) {
            transform: translateY(2.5rem);
            animation: firstDrop 2.1s infinite ease-out;
          }
        }
      }
    }

    &-brick {
      background-image: url("../images/weather/celcius.png");
      background-size: cover;
      width: 4rem;
      height: 4rem;
      right: 3.7rem;
      bottom: 14.5rem;
      cursor: var(--cursor-point);
      border: yellow 0.3rem solid;
      //animation: colorChange 1s linear infinite;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;

      & .temp-unit {
        font-family: var(--font-family--pixel);
        color: white;
      }

      &.shake {
        animation: shake 0.2s linear 0.1s;
      }
    }

    &-search-result {
      max-height: 15rem;
      max-width: 14.5rem;
      margin: 1.5rem 0 0 1.5rem;
      font-family: var(--font-family--pixel);
      text-transform: capitalize;

      &.white {
        color: white;
      }

      &.black {
        color: black;
      }

      & .city {
        font-size: 2.8rem;
      }

      & .temperature {
        font-size: 5rem;
        text-transform: uppercase;
      }
    }
  }

  &__form {
    //background-color: purple;
    width: 30rem;
    height: 25rem;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & label,
    & button,
    & .error {
      text-transform: uppercase;
      font-family: var(--font-family--pixel);
      cursor: var(--cursor-point);
    }

    & .error {
      position: absolute;
      top: 63%;
      font-size: 2.5rem;
      font-weight: 400;
      color: red;
      background-color: yellow;
      padding: 0.5rem;
      //border: 2px solid black;
    }

    & label {
      color: var(--color-yellow);
      font-size: 4rem;
    }

    & input {
      padding: 1.5rem;
      align-self: stretch;
      border: 2px solid #c0c0c0;
      border-radius: 1rem;
      text-align: center;
      font-family: var(--font-family);
      background-color: rgba(255, 255, 255, 0.5);
      caret-color: var(--color-yellow);
      text-transform: capitalize;

      &,
      &::placeholder {
        font-size: 1.8rem;
      }

      &:focus {
        outline-color: yellow;
      }

      &::placeholder {
        text-align: center;
      }

      &.redBorder {
        border: 2px red solid;
        //background-color: red;
      }
    }

    & button {
      position: relative;
      z-index: 99;
      padding: 1.2rem 3rem;
      border-radius: 5rem;
      font-size: 2rem;
      background-color: var(--color-yellow);
      transition: 0.2s all;
      border: 1px solid #06064d;

      &,
      &:active,
      &:visited {
        outline: none;
        //cursor: var(--cursor-point);
      }

      &:hover {
        transform: scale(1.1);
        //cursor: var(--cursor-point);
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}

.suggested-places-container {
  position: absolute;
  top: 16rem;
  width: 100%;

  & ul {
    list-style: none;
  }

  & li {
    position: relative;
    z-index: 200;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: var(--cursor-point);
    text-transform: capitalize;

    &:focus {
      outline: 0.5rem var(--color-desktop-tab) solid;
    }

    &:nth-child(odd) {
      transform: skewX(20deg);
      background-color: var(--color-yellow);

      & span {
        transform: skewX(-20deg);
      }
    }

    &:nth-child(even) {
      transform: skewX(-20deg);
      background-color: #fff;

      & span {
        transform: skewX(20deg);
      }
    }

    & span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      max-width: 100ch;
    }
  }
}
