.scrollbar {
    scrollbar-color: yellow transparent;
    scrollbar-width: auto;

    &::-webkit-scrollbar {
        width: 2rem;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: var(--color-yellow);
        background-size: cover;
        border-radius: 10px;
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #CD39CD;
      }
      
}