@keyframes logo-slide {
  0% {
    transform: translate(1.8rem, 0rem);
  }

  20% {
    transform: translate(22rem, 0rem);
  }

  30% {
    transform: translate(17rem, -0.5rem);
  }

  40% {
    transform: translate(14rem, 0.5rem);
  }

  50% {
    transform: translate(11rem, -0.5rem);
  }

  60% {
    transform: translate(8rem, 0.5rem);
  }

  70% {
    transform: translate(5rem, -0.5rem);
  }

  80% {
    transform: translate(3rem, 0.5rem);
  }

  90% {
    transform: translate(1rem, -0.5rem);
  }

  100% {
    transform: translate(1.8rem, 0.5rem);
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0;
  } //; transform: translate(0, 0);
  to {
    background-position: 2000px;
  } //transform: translate(-1920px, 0);
}


@keyframes jump {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0px);}
}


@keyframes colorChange {
  0% {
    border-color: #fffc00;
  }
  50% {
    border-color: #08ff08;
  }
  100% {
    border-color: #04d9ff;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
