@keyframes logo-slide {
    0% {
      transform: translate(1.8rem, 0rem);
    }

    20% {
        transform: translate(22rem, 0rem);
    }

    30% {
        transform: translate(17rem, -0.5rem);
    }

    40% {
        transform: translate(14rem, 0.5rem);
    }

    50%{
        transform: translate(11rem, -0.5rem);
    }

    60%{
        transform: translate(8rem, 0.5rem);
    }

    70% {
        transform: translate(5rem, -0.5rem);
    }

    80% {
        transform: translate(3rem, 0.5rem);
    }

    90% {
        transform: translate(1rem, -0.5rem);
    }

    100%{
        transform: translate(1.8rem, 0.5rem);
    }
}
