*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

a {
 cursor: url("/images/cursor_pointer.png"), auto;
}



html {
    font-size: 62.5%; //1rem = 10px
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
    cursor: url("/images/cursor.png"), auto;
}

.body-container {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-desktop-bg);
    position: relative;
    
}

