*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: url("../images/cursor_pointer.png"), auto;
}

html {
  font-size: 62.5%; //1rem = 10px

  @include respond(tab-land-m) {
    //1 rem = 9; 9/16;
    font-size: 56.2%;
  }
  @include respond(tab-port-l) {
    //1 rem = 8; 8 / 16;
    font-size: 50%;
  }

  @include respond(tab-port-s) {
    //1 rem = 8.5; 8.5 / 16;
    font-size: 53%;
  }

  @include respond(phone-l) {
    //1 rem = 8; 8/16;
    font-size: 50%;
  }

  @include respond(phone-s) {
    font-size: 40%;
  }

  @include respond(big-desktop) {
    //1 rem = 12; 12/16
    font-size: 75%;
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  cursor: url("../images/cursor.png"), auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/Group6.png");
}

.body-container {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-desktop-bg);
  position: relative;
  overflow: hidden;
}

@include webp-optimizer("../images/Group6", "body");

.webp body {
  @include respond(phone-s) {
    background-image: none;
  }
}

#loader {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > *:not(:last-child) {
    margin-bottom: 4rem;
  }

  img {
    width: 30rem;
    height: 30rem;
  }

  h3 {
    font-family: "Courier New", Courier, monospace;
    color: white;
    text-transform: uppercase;
    font-size: 2.3rem;
  }

  & .myProgress {
    width: 20rem;
    background-color: grey;
  }

  & .myBar {
    width: 0%;
    height: 30px;
    background-color: #0000a8;
  }
}
