.header {
    border: solid 0.1rem black;
    background-color: var(--color-grey);


    &__logo {
        background: linear-gradient(to right, var(--color-pink-dark), var(--color-pink-light));
        width: 25rem;
        border: var(--tab-border);
        box-shadow: .2rem .2rem 0rem rgba(#000, .8);

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &-box {
         display: flex;       
         align-items: center;       
        }

        &-image {
            width: 2.3rem;
            height: 2.3rem;
            }

        &-name {
            text-transform: uppercase;
            font-size: 2rem;
            color: var(--color-white);
            margin-left: -1.3rem;
        }    


    }
}